.tg{
    width: 180px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px #e9e9e9;
    background-color: white;
    align-items: center;
}

.tg img{
    height: 16px;
    width: 16px;
}

.darkEL{
  background-color: hsl(209, 23%, 22%) !important; 
}

.darkBG{
  background-color: hsl(207, 26%, 17%) !important; 
}

.darkColor{
  color:hsl(0, 0%, 100%) !important; 
}

.shadow{
	box-shadow: 1px 1px 5px 1px #2c2c2c !important;
}

.border{
	border-color: hsl(0, 0%, 0%) !important
}

.option{
  background-color: hsl(209, 23%, 22%) !important; 
  color:hsl(0, 0%, 75%) !important; 
}

@media screen and (max-width: 480px) {
  .tg{
    width: 150px;
  }
}